@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap"); 
:root { 
    --primari-color: #000; 
    --secundari-color: #fff;  
    /* --color3: #252a30;   */
    --color3: #000;
    --color4: #1f2326;  
    --color5: #ed1c24;
}

body{ 
    background-color: var(--color4);   
    font-family: "Roboto Slab", serif; 
    color: var(--secundari-color);
}  
header{ 
    margin: 0 auto;  
    background-color: var(--color3);
}
.navbar{  
    z-index: 999;
    width: 100%;  
    background-color: rgba(0, 0, 0, 0.3); 
    position: fixed; 
    top: 0; 
    display: flex;  
    align-items: center;  
    /* margin-bottom: 100px;  */
    /* background-color: rebeccapurple;  */
}
.image_nav_container{ 
    width: 60px;  
    margin-left: 20px;  
} 
.list_nav_container{  
    width: 40%;
    display: flex;  
    justify-content: space-between;  
}
.nav_item, .nav_item a{ 
    margin-right: 15px; 
    text-decoration: none;  
    list-style: none;  
    color: var(--secundari-color);  
    font-size: 1.3rem;  
}
.nav_item a:hover{  
    color: red; 
}
.nav_logo{ 
    max-width: 100%;
    height: auto; 
}  
.redesS{  
    position: absolute; 
    right: 0; 
    margin-right: 20px;  
    font-size: 1.7rem
} 
.redesS_icon{ 
    margin: 15px;  
    color: var(--secundari-color); 
}

/* ________________________________________main_________________________________ */ 
.image_presentation_container{  
    background: url(../assets/images/presentacion1.webp) fixed no-repeat center;   
    background-size: 100%;    
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    width: 100%; 
    height: 100vh;  
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
     /* margin-bottom: 100px;   */
}  
.presentation_logo{ 
    width: 200px; 
}
.presentation_logo img{ 
    max-width: 100%; 
}
.title_presentation{ 
    width: 100%;  
    color: var(--secundari-color);  
    line-height: 4rem; 
    text-align: center; 
    font-size: 3rem; 
    font-weight: bold;
    padding: 0; 
    margin: 0;
} 
.title_presentation span { 
    font-size: 2rem; 
    font-weight: normal; 
}
/* ________________________________about____________________________________ */
.secction_style{ 
    background-color: var(--color3);
    color: var(--secundari-color);
    padding: 30px 30px 150px 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    /* border: 2px solid red;  */
} 
.secction_style_2{  
    background-color: var(--color4);
    color: var(--secundari-color);
    padding: 30px 30px 150px 30px; 
    display: flex;  
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
} 
.secction_title{ 
    font-size: 2.5rem; 
    text-align: center;  
    margin-bottom: 50px; 
} 
.aboutMe_content{  
    box-sizing: border-box;
    padding: 30px 30px 150px 30px;  
    background-color: var(--color3);  
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    justify-content: space-between;
} 
.aboutMe_information{   
    width: 52%; 
    order: 1;
    border: 2px solid var(--secundari-color);   
    border-radius: 30px; 
    box-sizing: border-box; 
    padding: 30px; 
}
.aboutMe_img_container{   
    background-color: #f8ede3;
    width: 40%;  
    border-radius: 30px; 
    height: 450px;   
    display: flex; 
    justify-content: center; 
    align-items: center; 
    order: 0;
    margin-right: 40px;

}
.aboutMe_img{ 
    width: 70%;
}
.aboutMe_img img { 
    max-width: 100%; 
}
.secundary_title{ 
    line-height: 3rem;
    margin: 0;
    font-size: 1.7rem; 
    margin-right: 1.5rem;
}
.text{ 
    line-height: 2.3rem;
    font-size: 1.3rem;
}
.separation_element{ 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
}  
/* ____________________________________tecnologies________________________________ */ 
.tecnologies_content{  
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));   
    grid-auto-rows: 200px;   
    gap: 20px;  
    justify-content: center;   
    width: 95%;  
    margin: 0 auto;
}
.card{ 
    background-color: var(--color4); 
    border: 2px solid var(--secundari-color);  
    border-radius: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;  
    flex-direction: column; 
    font-size: 2rem;
    transition: font-size 0.3s ease-in-out,background-color 0.3s ease-in-out;
}  
.card:hover{ 
    background-color: rgba(237, 28, 36, 0.5); 
    font-size: 2.3rem;
}
.card i{ 
    margin-bottom: 10px; 
}

/* ______________________________proyects___________________________________ */
.proyects_content{  
    width: 92%; 
    display: grid;  
    grid-template-columns: repeat(4, 25%); 
    align-content: center; 
    grid-auto-rows: 230px;   
    gap: 10px;  
    justify-content: center;    
    grid-template-areas: 
    "p1 p2 p3 p4" 
    "p5 p5 p6 p6" ;
} 
.card-flex{ 
    display: flex; 
    justify-content: center; 
    align-items: center;   
    border-radius: 10px;  
    overflow: hidden;
}
.cardP1{ 
    background-color: gray;  
    box-sizing: border-box;  
    grid-area: p1;
    /* background: url(../assets/images/presentacion.jpg);  */
    background-size: 100%;  
} 
.cardP2{ 
    background-color: gray;  
    box-sizing: border-box;  
    grid-area: p2; 
    /* background: url(../assets/images/presentacion.jpg);  */
    background-size: 100%; 
}
.cardP3{ 
    background-color: gray;  
    box-sizing: border-box; 
    grid-area: p3; 
    /* background: url(../assets/images/presentacion.jpg);  */
    background-size: 100%; 
}
.cardP4{ 
    background-color: gray;  
    box-sizing: border-box;  
    grid-area: p4; 
    background: url(../assets/images/Logotipo.jpg); 
    background-size: 100%; 
}
.cardP5{ 
    background-color: gray;  
    box-sizing: border-box; 
    grid-area: p5; 
    /* background: url(../assets/images/presentacion.jpg);  */
    background-size: 100%; 
}
.cardP6{ 
    background-color: gray;  
    box-sizing: border-box; 
    grid-area: p6; 
    /* background: url(../assets/images/presentacion.jpg);   */
    background-size: 100%; 
} 
.card-transition{ 
    transition: scale, 0.3s ease-in-out; 
} 
.card-transition:hover{ 
    scale: 1.2; 
    z-index: 999;
}
.card_content{ 
    width: 90%; 
    height: 200px; 
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    transform: translateY(-250px) ; 
    transition: transform 0.3s ease-in-out;
} 
.card_content-activate{  
    transform: translateY(0);
}
/* _____________________________contacto________________________________ */ 
/* .presentation_container_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blue;
  }  */
  .contacto{ 
    box-sizing: border-box;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 95%;
  }
  .form_container {
    width: 100%;
    height: 500px;
    border: solid 3px var(--secundari-color);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 33% 33% 1fr;
    justify-content: center;
    grid-template-areas: "form form info";
  }
  
  .main_contact {
    display: block;
  }
  
  .inputs_content {
    grid-area: form;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 0;
  }
  
  form {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
    text-align: left;
    align-items: flex-start;
    grid-template-areas:
      "labelN labelN"
      "label label"
      "mensaje mensaje"
      "submit submit";
  }
  
  form input {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    margin-right: 10px;
    padding: 0 5px;
    box-sizing: border-box;
  }
  
  .label_name {
    grid-area: labelN;
  }
  .label_mensaje {
    grid-area: mensaje;
  }
  
  .styles_short_labels {
    margin: 10px 0 0 0;
    width: 48%;
  }
  .styles_short_labels input {
    width: 100%;
  }
  
  .styles_long_labels {
    width: 100%;
    margin: 10px 0 0 0;
    justify-self: left;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }
  .email_phone_container {
    grid-area: label;
    display: flex;
    justify-content: space-between;
  }
  .label_mensaje textarea {
    margin-top: 20px;
    padding: 0 5px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    resize: none;
  }
  
  .submit_button {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
    border-radius: 4px;
    justify-self: left;
    margin-left: 30px;
    background-color: #ed1c24;
    color: var(--white-color);
    cursor: pointer;
  }
  .submit_button_disabled {
    background-color: rgba(237, 28, 36, 0.5);
  }
  .submit_container {
    grid-area: submit;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info_container {
    grid-area: info;
    background-color: #09b5b5;
    border-radius: 0 27px 27px 0;
    display: flex; 
    flex-direction: column; 
    /* justify-content: center;  */
    text-align: center;
  }
  .info_title {
    margin-top: 30px;
  } 
  .icons_container {
    width: 100%;
    margin: 10px 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
  } 
  .items_icons_containers {
    display: flex;
    font-weight: bold;
  } 
  .items_icons_containers p{ 
    margin: 0 0 2rem 0;
  }
  .icon {
    color: #ed1c24;
    margin-right: 10px;
  }
  /* ________________________validacion formulario_________________________ */ 
  .input_incorrect {
    outline: 2px solid #f00;
  }
  
  .error_mensaje {
    color: #f00;
    margin-top: 5px;
    display: none;
    font-size: 12px;
  }
  .err_activate {
    display: block;
  }
  .mensaje_succes {
    grid-area: submit;
    display: none;
    margin: 0;
  }
  .mensaje_succes_activate {
    display: block;
  }
  
  .contact_title {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 15px;
  } 
  .vistme_container{ 
    display: flex;  
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #ed1c24;
    border-radius: 10px; 
    margin: 0 auto; 
    width: 90%; 
    padding: 5px 5px 15px 5px;  
  }
  
  .card_rs_logos {
    width: 80%; 
    margin-top: 30px;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
  }
  .card_rs_logos a {
    text-decoration: none;
    color: var(--white-color);
    transform: translate(0);
    transition: transform 0.5s ease-out;
  }
  
  .card_rs_logos a:hover {
    transform: translateY(10px);
  }

  /* ___________________________________responsive__________________________________ 
   */ 
   @media screen and (max-width: 1200px) { 
    .aboutMe_img{ 
      width: 100%;
    } 
    .proyects_content { 
    grid-template-areas: 
    "p1 p1 p2 p2" 
    "p3 p3 p4 p4" 
    "p5 p5 p6 p6"; 
      
    } 
    .card-transition{ 
      transition: background-size 0.3s ease-in-out; 
    } 
    .card-transition:hover{ 
      background-size: 130%;  
      z-index: 999;
      scale: 1;
    }
    
   }

   @media screen and (max-width: 985px) { 
    .image_presentation_container{ 
      background-size: cover;
    }
    .secction_style_2{
      padding: 30px 2px 150px 2px;
    }
    .secction_style{  
      padding: 30px 2px 150px 2px;
    }
    .separation_element { 
      flex-direction: column; 
      justify-content: center; 
      align-items: center;
    } 
    .aboutMe_img{ 
      width: 50%; 
    }
    .aboutMe_img_container{ 
      width: 95%;   
      height: 360px; 
      margin: 0 0 50px 0; 
    }
    .aboutMe_information{ 
      width:95%;
    }  
    .proyects_content { 
      width: 90%;
      grid-template-areas: 
      "p1 p1 p1 p1" 
      "p2 p2 p2 p2" 
      "p3 p3 p3 p3" 
      "p4 p4 p4 p4" 
      "p5 p5 p5 p5" 
      "p6 p6 p6 p6";
      
    } 
    
    .contacto { 
      width: 100%; 
    }
    .form_container{ 
      width: 90%;   
      grid-template-areas: "form form form"; 
      background-color: rebeccapurple; 
      height: auto;
    } 
    form{ 
      grid-template-rows: none;
      text-align: center;
    }
    .email_label{ 
      margin-top: 10px;
    }
    .info_container{
      display: none;
    }
    .email_phone_container{  
    flex-direction: column; 
    }  
    .styles_short_labels{ 
      width: 100%; 
    }

  
    
  } 

@media screen and (max-width: 470px) { 
  .aboutMe_content { 
    padding: 0; 
  }
  
}

    
   